# Игнор-лист файлов проекта
# Игнорирование по типу файла, будут игнорироваться во всех директориях
*.zip
*.7z
# Игнорирование файла во ВСЕХ директориях
IgnoreMe.txt
# Игнорирование ВСЕХ файлов и папок внутри директории /secret,
/secret/*